################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ShareManager/Services/Share.Data/obj
/ShareManager/Services/Share.IData/obj
/ShareManager/Services/Share.Facade/obj
/ShareManager/Services/Share.Entity/obj
/ShareManager/ShareManager/obj
/.vs
/ShareManager/ShareManager/bin
/ShareManager/Services/Share.Data/bin
/ShareManager/Services/Share.Entity/bin
/ShareManager/Services/Share.Facade/bin
/ShareManager/Services/Share.IData/bin
/ShareManager/.vs
/ShareManager/ShareManager/.config
/ShareManager/ShareManager/Properties/PublishProfiles
