################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RiskManager/Services/Share.Data/obj
/RiskManager/Services/Share.IData/obj
/RiskManager/Services/Share.Facade/obj
/RiskManager/Services/Share.Entity/obj
/RiskManager/RiskManager/obj
