################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RiskManager/Services/Share.Data/obj
/RiskManager/Services/Share.IData/obj
/RiskManager/Services/Share.Facade/obj
/RiskManager/Services/Share.Entity/obj
/RiskManager/RiskManager/obj
/.vs
/RiskManager/RiskManager/bin
/RiskManager/Services/Share.Data/bin
/RiskManager/Services/Share.Entity/bin
/RiskManager/Services/Share.Facade/bin
/RiskManager/Services/Share.IData/bin
/RiskManager/.vs
/RiskManager/RiskManager/.config
/RiskManager/RiskManager/Properties/PublishProfiles
