
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Risk_Layout.cshtml";
}

@section css{
    <style type="text/css">
        .red {
            color: red;
        }

        .gr {
            color: green;
        }
    </style>
}

@section js{
    <script src="~/js/demo.js"></script>
}

<div class="col-md-8 col-auto">
    <div class="card">
        <div class="card-header bg-light"> 个人信息</div>

        <div class="card-body">
            <div class="row mb-auto">
                <div class="col-md-4 mb-4"></div>
                <div class="col-md-8">

                    我是内容

                </div>
            </div>
        </div>
    </div>
</div>

@section jsbottom{

    <script type="text/javascript">

    </script>

}